.home-center {
	width: 1080px;
	margin: 25px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	align-content: flex-start;
}

.article-tile {
	width: 340px;
	height: 560px;
	background-color: aliceblue;
	margin: 20px 10px;
}

.article-tile-img {
	width: 100%;
	height: 200px;
	background-size: cover;
}

.article-tile-body {
	width: 85%;
	margin: 0 auto;
	margin-bottom: 20px;
	height: 60%;
	overflow: hidden;
	
	
}

.article-tile-body  a {
	text-decoration: none;
	font-size: 20px;
	font-weight: 700;
	padding: 0px;
	color: #272729;
	line-height: 1.2em;
}

.article-tile-body span {

	width: 280px;
	height: 10.8em;
	line-height: 1.2em;
	display: -webkit-box;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 9;	
	color: #272729
}
